* {
  margin: 0;
  padding: 0; }

body {
  background: #49aea9; }

#app {
  width: 490px;
  height: 365px;
  position: absolute;
  top: 50%;
  margin-top: -245px;
  left: 50%;
  margin-left: -182px;
  background: #fcfcfc;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.45); }

header {
  height: 43px;
  border-bottom: 1px solid #b7b7b7;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dedede), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(bottom, #dedede 0%, #efefef 100%);
  background: -moz-linear-gradient(bottom, #dedede 0%, #efefef 100%);
  background: -o-linear-gradient(bottom, #dedede 0%, #efefef 100%);
  background: -ms-linear-gradient(bottom, #dedede 0%, #efefef 100%);
  background: linear-gradient(bottom, #dedede 0%, #efefef 100%); }
  header .buttons {
    background: url(../images/mac.png) no-repeat;
    background-position: 13px 17px;
    height: 29px;
    width: 65px; }

#settings {
  height: 38px;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 1px 0 #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: linear-gradient(top, #ffffff 0%, #fafafa 100%);
  position: relative;
  cursor: pointer; }
  #settings .buttons {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: linear-gradient(top, #ffffff 0%, #fafafa 100%);
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    width: 81px;
    height: 26px;
    box-shadow: 0 1px 0 #fff;
    float: left;
    margin-left: 8px;
    margin-top: 5px; }
    #settings .buttons div {
      display: inline-block;
      width: 26px;
      height: 26px;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      #settings .buttons div:not(:first-child) {
        margin-left: -4px; }
      #settings .buttons div:nth-child(2):not(:last-child) {
        border-width: 1px;
        margin-top: -1px;
        height: 24px;
        -moz-border-image: -webkit-linear-gradient(top, white, #d9d9d9) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(top, white, #d9d9d9) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(top, white, #d9d9d9) 1 100%;
        -o-border-image: -webkit-linear-gradient(top, white, #d9d9d9) 1 100%;
        border-image: -webkit-linear-gradient(top, white, #d9d9d9) 1 100%; }
      #settings .buttons div.bold {
        background-image: url(../images/bold.png); }
      #settings .buttons div.italic {
        background-image: url(../images/italic.png); }
      #settings .buttons div.left {
        background-image: url(../images/left.png); }
      #settings .buttons div.center {
        background-image: url(../images/center.png); }
      #settings .buttons div.right {
        background-image: url(../images/right.png); }
      #settings .buttons div.list {
        background-image: url(../images/list.png); }
      #settings .buttons div.link {
        background-image: url(../images/link.png); }
      #settings .buttons div.image {
        background-image: url(../images/image.png); }
  #settings .sbHolder, #settings input {
    -webkit-appearance: none;
    height: 26px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    float: left;
    margin-left: 8px;
    margin-top: 5px; }
    #settings .sbHolder:focus, #settings input:focus {
      outline: none; }
  #settings .sbHolder {
    background: #fff;
    width: 127px;
    box-shadow: inset 0 1px 2px #f6f6f6; }
    #settings .sbHolder .sbSelector, #settings .sbHolder .sbOptions a {
      display: block;
      height: 26px;
      font: 13px Candara;
      color: #979797;
      text-decoration: none;
      line-height: 26px;
      padding-left: 15px;
      width: 110px; }
    #settings .sbHolder .sbOptions {
      background: #fff;
      border: 1px solid #d6d6d6;
      border-radius: 3px; }
      #settings .sbHolder .sbOptions li {
        list-style: none; }
        #settings .sbHolder .sbOptions li a {
          display: block; }
          #settings .sbHolder .sbOptions li a:hover {
            color: #333;
            background: #fafafa; }
  #settings .size {
    width: 50px; }
  #settings .color {
    width: 50px; }

#page {
  height: 280px;
  padding: 5px 20px 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  font: 16px Candara;
  color: #6e6e6e; }
  #page:focus {
    outline: none; }
  #page p, #page h6 {
    font-weight: normal;
    font-size: 16px;
    color: #6e6e6e; }
  #page h1 {
    font-size: 24px;
    color: #000; }
  #page h2 {
    font-size: 20px;
    color: #444; }
  #page blockquote {
    margin: 10px 0;
    text-indent: 20px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #999; }
  #page li {
    margin-left: 20px;
    margin-bottom: 5px; }
